
.switch-right-grid{
	-ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	background:#fff;
}
.switch-right {
    padding: 0;
    width:32.33%;
    margin-right: 1.5%;
}
.switch-right:nth-child(3) {
	margin-right:0%;
}
.switch-right-grid1{
	padding:2em 2em;
}
.switch-right-grid ul li{
	list-style-type:none;
	color:#777;
	margin:0 0 .5em;
	font-size:14px;
}
.switch-right-grid ul li span{
	
}
.switch-right-grid p{
	color:#999;
	font-size:13px;
	margin:.3em 0 0;
}
.dash_back {
    background-color: #F8F8F8 !important;  
}
.mar_span3 .span3 {
    padding-bottom: 10px;
}
.block-content.mar_span3.collapse.in {
    margin-left: 0px!important;
}

