.mr-0{margin: 0 !important}
.mr-b-20{margin-bottom: 20px !important;}
.br-raduse-5{border-radius: 5px}
.bg-blue {
    background-color: #007bff !important;
    padding: 15px;
}
.bg-green {
    background-color: #28a745 !important;
    padding: 15px;
}
.bg-red {
    background-color: #dc3545 !important;
    padding: 15px;
}
.bg-yellow {
    background-color: #ffc107 !important;
    padding: 15px;
}
.s-l h5 {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}
.s-l p {
    color: #000;
    font-weight: 400;
    margin: 0;
}
.s-r h6 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 2px #404040;
    float: right;
}

@media screen and (max-width: 1280px) and (min-width: 800px) {
        
    .dash-fluid{margin:60px 15px 15px;}




  }